function BreakawayGame.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 216
push constant 252
call PlayArea.new 2
pop this 0
push constant 250
push constant 100
push constant 2
push constant 2
push constant 6
call Ball.new 5
pop this 1
push constant 255
push constant 127
push constant 25
push constant 7
call Paddle.new 4
pop this 2
push pointer 0
return
function BreakawayGame.dispose 0
push argument 0
pop pointer 0
push this 0
call PlayArea.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push this 2
call Paddle.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function BreakawayGame.run 0
push argument 0
pop pointer 0
push constant 0
pop this 4
label WHILE_EXP0
push this 4
not
not
if-goto WHILE_END0
push pointer 0
call BreakawayGame.processInput 1
pop temp 0
push pointer 0
call BreakawayGame.update 1
pop temp 0
push pointer 0
call BreakawayGame.render 1
pop temp 0
push constant 55
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function BreakawayGame.processInput 0
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop this 3
push constant 0
return
function BreakawayGame.update 3
push argument 0
pop pointer 0
push this 0
call PlayArea.getHitbox 1
pop local 1
push this 3
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 4
label IF_FALSE0
push this 3
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
call Paddle.moveLeftSim 1
pop temp 0
push this 2
call Paddle.getHitbox 1
pop local 2
push local 2
call Hitbox.getXLower 1
push local 1
call Hitbox.getXLower 1
lt
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
call Paddle.moveLeft 1
pop temp 0
label IF_FALSE2
label IF_FALSE1
push this 3
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
call Paddle.moveRightSim 1
pop temp 0
push this 2
call Paddle.getHitbox 1
pop local 2
push local 2
call Hitbox.getXUpper 1
push local 1
call Hitbox.getXUpper 1
gt
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
call Paddle.moveRight 1
pop temp 0
label IF_FALSE4
label IF_FALSE3
push this 1
call Ball.moveBallSim 1
pop temp 0
push this 1
call Ball.getHitbox 1
pop local 0
push this 2
call Paddle.getHitbox 1
pop local 2
push local 0
call Hitbox.getXLower 1
push local 1
call Hitbox.getXLower 1
lt
push local 0
call Hitbox.getXUpper 1
push local 1
call Hitbox.getXUpper 1
gt
or
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 1
call Ball.flipDeltaX 1
pop temp 0
label IF_FALSE5
push local 0
call Hitbox.getYLower 1
push local 1
call Hitbox.getYLower 1
lt
push local 0
call Hitbox.getYUpper 1
push local 1
call Hitbox.getYUpper 1
gt
or
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 1
call Ball.flipDeltaY 1
pop temp 0
label IF_FALSE6
push local 0
call Hitbox.getYUpper 1
push local 2
call Hitbox.getYLower 1
gt
push local 0
call Hitbox.getYLower 1
push local 2
call Hitbox.getYUpper 1
lt
and
push local 0
call Hitbox.getXUpper 1
push local 2
call Hitbox.getXLower 1
gt
and
push local 0
call Hitbox.getXLower 1
push local 2
call Hitbox.getXUpper 1
lt
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 1
call Ball.flipDeltaY 1
pop temp 0
label IF_FALSE7
push this 1
call Ball.moveBall 1
pop temp 0
push local 0
call Hitbox.dispose 1
pop temp 0
push local 1
call Hitbox.dispose 1
pop temp 0
push local 2
call Hitbox.dispose 1
pop temp 0
push constant 0
return
function BreakawayGame.render 0
push argument 0
pop pointer 0
push this 0
call PlayArea.clear 1
pop temp 0
push this 2
call Paddle.draw 1
pop temp 0
push this 1
call Ball.draw 1
pop temp 0
push constant 0
return
